:root{
   --cor-primaria: rgb(25, 0, 255);
    --cor-secundária: white;
    --cor-branco:white;
    --cor-preto:black;
}
body{
    background-color: var(--cor-preto);
    font-family: 'Pixelify Sans', cursive;
 }
 header{
    position: absolute;
    border: 1px solid aqua;
    height: 60px;
    top: 60px;
    left: 80px;
    right: 80px;
    display: flex;
    justify-content: space-between;
 }
 header .logo-container{
    width: 150px;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 16px;
    color: var(--cor-branco);
 }
 header .menu{
    height: 60px;
 }
 header .menu ul a{
   font-size: 18px;
   padding: 2px 8px;
   transition: 1.2s;
   color: aliceblue;
 }
 header .menu ul a:hover{
   background-color:rgb(0, 0, 0);
   border: 1px solid aqua;
   color: aliceblue;
   padding: 2px 8px;
   cursor:pointer;
 }
 header .menu ul{
   height: 100%;
   gap: 30px;
   display: flex;
   align-items: center;
 }
 header .botao-container{
    height: 60px;
    width: 150px;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
 }
 header .botao-container img{
   height: 30px;
 }
 main{
    height: 100vh;
 }